*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	color: #2c2b2b;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	line-height: 27px;
	font-weight: 300;
}

a {
	color: inherit;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

.button {
	padding: 14px 54px;
	background-color: #5a0d67;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	transition: all 0.5s ease;
	cursor: pointer;
}

.button:hover {
	background-color: #fff;
	color: #5a0d67;
}

.title {
	color: #21062a;
	font-size: 36px;
	font-weight: 400;
	line-height: 53px;
	margin-bottom: 50px;
	text-transform: uppercase;
	position: relative;
}
.title::after {
	content: ' ';
	position: absolute;
	margin-left: 15px;
	width: 80px;
	height: 3px;
	background-color: #21062a;
	top: 25px;
}

.social {
	display: flex;
	align-items: center;
}
.social__link {
	margin: 0 5px;
}
/* ---------H E A D E R----------- */
.header {
	background-image: url('../images/header-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	min-height: 700px;
	color: #fff;
}

.header__top {
	padding: 47px 0 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.phone {
	font-size: 36px;
	font-weight: 400;
	line-height: 54px;
}

.header__content {
	position: relative;
}

.header__title {
	padding-top: 60px;
	font-size: 72px;
	font-weight: 400;
	line-height: 105px;
	text-transform: uppercase;
}

.header__subtitle {
	font-size: 36px;
	font-weight: 400;
	line-height: 53px;
	text-transform: uppercase;
}

.header__text {
	margin-top: 30px;
	margin-bottom: 30px;
	max-width: 600px;
}

.header__social {
	padding: 70px 0 20px 70px;
}

.header__images {
	position: absolute;
	bottom: -290px;
	right: 0;
}

/* ---------S E R V I C E S----------- */
.services {
	padding-top: 330px;
}

.services__inner {
	display: flex;
	margin-bottom: 100px;
}

.services__content {
	width: 505px;
	margin-right: 95px;
}

.services__content-tile {
	margin-bottom: 12px;
	color: #5a0d67;
	font-size: 18px;
	line-height: 27px;
	font-weight: 300;
}

.services__content-textbox {
	margin-bottom: 58px;
}

.services__content-text {
	margin-bottom: 12px;
}

.button--decor {
	margin-top: -10px;
	color: #fff;
	border: 1px solid #5a0d67;
	position: relative;
}

.button--decor::after {
	content: 'ЖМИ';
	position: absolute;
	margin-left: 130px;
	color: #c4c4c4;
	font-size: 18px;
	top: 16px;
}
.button--decor::before {
	content: '';
	position: absolute;
	width: 80px;
	height: 3px;
	background-color: #c4c4c4;
	right: -65px;
	top: 25px;
}

.services__list {
	list-style: none;
	counter-reset: my-counter;
}

.services__item {
	width: 450px;
	height: 75px;
	margin-bottom: 12px;
	padding: 10px 15px 10px 113px;
	counter-increment: my-counter;
	position: relative;
	border: 1px solid #c4c4c4;
	transition: all 0.4s ease;
}
.services__item::before {
	content: '0' counter(my-counter);
	position: absolute;
	font-size: 36px;
	font-weight: 400;
	line-height: 53px;
	transform: rotate(270deg);
	top: 10px;
	left: 20px;
	color: #c4c4c4;
	transition: all 0.4s ease;
}

.services__item:hover {
	width: 500px;
	border: 2px solid #5a0d67;
}
.services__item-title:hover {
	color: #5a0d67;
}
.services__item:hover::before {
	color: #5a0d67;
}

.services__item-title {
	font-size: 24px;
	font-weight: 300;
	line-height: 30px;
	transition: all 0.4s ease;
}

.services__item-text {
	line-height: 17px;
}

/* ---------S E R V I C E S----------- */
.benefits {
	margin-bottom: 100px;
}

.benefits__inner {
	display: flex;
}

.benefits__images {
	margin-right: 95px;
}

.benefits__content {
	width: 100%;
	color: #fff;
}

.benefits__title {
	margin-left: 185px;
}

.benefits__list {
	width: 785px;
	padding: 23px 10px 23px 185px;
	list-style: none;
	background-color: #21062a;
}

.benefits__item {
	width: 320px;
	margin-bottom: 20px;
}

.benefits__item-num {
	font-size: 36px;
	font-weight: 400;
	line-height: 53px;
}

.benefits__item-title {
	font-size: 24px;
	font-weight: 300;
	line-height: 36px;
}

.benefits__item-text {
	color: #c4c4c4;
}

/* ---------C A R O U S E L----------- */
.carousel {
	margin-bottom: 100px;
}

.carousel__inner {
	margin: 0 -7px;
}

.carousel__item-box {
	margin: 0 7px;
	padding: 6px 6px 16px 6px;
	border: 1px solid #c4c4c4;
	text-align: center;
	background-color: #fff;
	transition: all 0.5s ease;
}
.carousel__item-box:hover {
	background-color: #5a0d67;
	border: 1px solid #5a0d67;
	color: #fff;
}

.carousel__item-img {
	margin-bottom: 22px;
	max-width: 100%;
}

.carousel__item-title {
	margin-bottom: 5px;
	font-weight: 300;
}

/* --------------------------- */
.carousel .slick-dots {
	margin-top: 50px;
	list-style: none;
	display: flex;
	justify-content: center;
}

.carousel .slick-dots button {
	margin: 0 10px;
	padding: 0;
	font-size: 0;
	width: 50px;
	height: 1px;
	background-color: #c4c4c4;
	border: none;
	cursor: pointer;
}
.carousel .slick-active button {
	height: 3px;
	background-color: #5a0d67;
}

/* ---------C O N T A C T S----------- */
.contacts__inner {
	display: flex;
	justify-content: space-between;
}

.contacts__info {
	padding: 50px 0 37px;
}

.contacts__list {
	list-style: none;
}

.contacts__item {
	margin-bottom: 20px;
}

.contacts__item-title {
	font-size: 18px;
	font-weight: 300;
	line-height: 27px;
	color: #5a0d67;
}

/* ------------------- */
.contacts__form {
	padding: 50px 75px 57px;
	background-color: #21062a;
	text-align: center;
}

.contacts__title {
	margin: 0 0 17px 50px;
	color: #fff;
	text-align: left;
}
.contacts__title::after {
	background-color: #fff;
}

.contacts__input {
	width: 450px;
	margin: 12px auto;
	padding: 24px 20px;
	display: block;
	border: 1px solid #fff;
	color: #fff;
	font-size: 20px;
	background-color: transparent;
	text-align: center;
}

.contacts__input::placeholder {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 18px;
	line-height: 27px;
	font-weight: 300;
	color: #c4c4c4;
}

.contacts__btn {
	margin-top: 75px;
	border: none;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
	text-transform: uppercase;
}

/* ---------F O O T E R----------- */
.footer {
	background-color: #21062a;
}

.footer__inner {
	padding: 23px 0 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

/* --------M E D I A----------- */
@media (max-width: 1160px) {
	.services__item:hover {
		width: 450px;
	}
}

@media (max-width: 1024px) {
	.header__images {
		width: 80%;
	}
	.services {
		padding-top: 250px;
	}
	.services__inner {
		margin-top: 30px;
		flex-direction: column-reverse;
		align-items: center;
	}
	.services__content {
		width: 100%;
		margin: 30px auto 30px;
	}
	.services__content-textbox {
		margin-bottom: 35px;
	}
	.services__list {
		width: 100%;
	}
	.services__item {
		width: 100%;
	}
	.services__item:hover {
		width: 100%;
	}
	.button--decor {
		margin-top: 20px;
	}
	.benefits__images {
		display: none;
	}
	.benefits__title {
		margin-left: 0;
	}
	.benefits__list {
		width: 98%;
		margin: 0 auto;
		padding: 23px 20px 23px 40px;
	}
	.title {
		padding-left: 20px;
	}
	.benefits__item {
		width: 100%;
		margin-bottom: 20px;
	}
	.benefits__item-text {
		font-size: 22px;
	}
}

@media (max-width: 900px) {
	.phone {
		font-size: 26px;
		line-height: 34px;
	}
	.header__title {
		padding-top: 32px;
		font-size: 60px;
		line-height: 85px;
	}
	.header__subtitle {
		font-size: 30px;
		line-height: 43px;
	}
	.header__text {
		margin-top: 20px;
		margin-bottom: 25px;
	}
	.header__social {
		padding: 50px 0 20px 50px;
	}
	.services {
		padding-top: 150px;
	}
	.benefits__list {
		width: 99%;
		padding: 15px;
	}
	.benefits__item-num{
		line-height: 40px;
	}
	.benefits__item{
		margin-bottom: 25px;
	}
}

@media (max-width: 685px) {
	body {
		font-size: 16px;
		line-height: 22px;
	}
	.header__content {
		text-align: center;
	}
	.header__title {
		margin-bottom: 15px;
		padding-top: 10px;
		font-size: 52px;
		line-height: 60px;
	}
	.header__subtitle {
		font-size: 26px;
		line-height: 33px;
	}
	.header__social {
		padding: 30px 0;
		justify-content: center;
	}
	.services {
		padding-top: 100px;
	}
	.title {
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 30px;
		padding: 0;
		text-align: center;
	}
	.title::after {
		display: none;
	}
}

@media (max-width: 600px) {
	.services {
		padding-top: 130px;
	}
	.benefits__item-num {
		font-size: 32px;
		line-height: 38px;
	}
	.benefits__item-text {
		font-size: 20px;
	}
}

@media (max-width: 552px) {
	.header__images {
		width: 100%;
		position: static;
	}
	.services {
		padding-top: 60px;
	}
	.services__inner,
	.benefits,
	.carousel {
		margin-bottom: 50px;
	}
}

@media (max-width: 472px) {
	.header__top {
		padding: 35px 0 30px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.phone {
		width: 100%;
		padding-top: 10px;
		text-align: center;
		line-height: 15px;
	}
	.header__title {
		font-size: 44px;
		line-height: 50px;
	}
	.services__item {
		padding: 3px 5px 5px 56px;
	}
	.services__item::before {
		left: 8px;
	}
	.button--decor::before {
		width: 65px;
		height: 3px;
		right: -15px;
		top: 55px;
		transform: rotate(-120deg);
	}
	.button--decor::after {
		margin-left: 22px;
		font-size: 28px;
		top: 95px;
	}
	.services__inner {
		margin-bottom: 85px;
	}
	.benefits__list {
		padding: 10px;
	}
	.benefits__item {
		margin-bottom: 30px;
	}
	.benefits__item-num {
		font-size: 28px;
		line-height: 30px;
	}
	.benefits__item-text {
		font-size: 18px;
	}
}
